@import '~shared/styles/index.scss';

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: transparentize($primary-dark, 0.26);
  display: flex;
  align-items: center;
  justify-content: center;
}

//source: https://projects.lukehaas.me/css-loaders/
.loader {
  &, &:before, &:after {
    background: $primary;
    animation: load 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
  }
  color: $primary;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  transform: translateZ(0);
  animation-delay: -0.16s;

  &:before, &:after {
    position: absolute;
    top: 0;
    content: '';
  }

  &:before {
    left: -1.5em;
    animation-delay: -0.32s;
  }

  &:after {
    left: 1.5em;
  }
}

@keyframes load {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
