@import '~shared/styles/index.scss';

body {
  background-color: $primary-dark;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  overflow: scroll;
  padding: 85px;
  width: 100vw;
}

.app__content {
  background-color: $grey-lightest;
  border-radius: 5px;
  box-shadow: 0 2px 47px 0 rgba(0, 0, 0, 0.26);
  height: 490px;
  margin: 0 auto;
  padding: 37px;
  width: 810px;
}
