$primary:           #4d69fa;
$primary-dark:      #3a4061;
$white:             #ffffff;
$grey-lightest:     #f5f5f5;
$grey-light:        #e6e6e7;
$grey-dark:         #53555d;
$green-light:       #8ac657;
$green-dark:        #4ea06a;
$blue:              #3c5a92;
$skinnish:          #fece8a;
